<footer>
  <div class="container">
    <div class="row">
      <section class="col-md-6 contacts">
        <h1>Contact Information</h1>
        <p>I'm open to new projects.  You can send me for evaluation an approximate
          technical assignment or simply a description of the project in your own words.</p>
        <h4>Links to my social networks:</h4>
        <ul>
          <li><span></span><a href="https://www.linkedin.com/in/uladzimir-yeudakimovich" target="_blank">Linkedin</a></li>
          <li><span></span><a href="https://github.com/uladzimir-yeudakimovich" target="_blank">Github</a></li>
          <li><span></span><a href="https://www.codewars.com/users/uladzimir.yeudakimovich" target="_blank">CodeWars</a></li>
          <li><span></span><a href="https://www.facebook.com/uladzimir.yeudakimovich" target="_blank">Facebook</a></li>
          <li><span></span><a href="https://instagram.com/uladzimir.yeudakimovich" target="_blank">Instagram</a></li>
        </ul>
      </section>
      <form class="col-md-6">
        <input type="text" name="firstName" placeholder="Enter name" required pattern="[A-Za-zА-Яа-яЁё]+$">
        <input type="email" name="email" placeholder="Enter email" required>
        <textarea name="later" placeholder="Enter message" required></textarea>
        <input type="file" accept=".pdf, .doc, .png, .jpg, .jpeg" multiple>
        <label class="fa-sticky-note"><span>Attach file</span></label>
        <input type="submit" class="btn btn-primary btn-block" value="Submit" formmethod="post">
      </form>
    </div>
  </div>
</footer>
