<header>
  <div class="container language-en">
    <div class="row">
      <div class="d-none d-lg-block col-lg-6 col-xl-5" style="padding: 0;">
        <figure><img class="img-fluid" src="src/app/images/logo_laptop.jpg" alt="" style="margin-bottom: -16px;"></figure>
      </div>
      <article class="col-lg-6 col-xl-7 information">
        <h3>Front-end developer</h3>
        <h1>Uladzimir Yeudakimovich</h1>
        <div class="d-block d-md-none">
          <figure style="display: flex; justify-content: center; margin-top: 30px;"><img class="rounded-circle" src="src/app/images/logo_phone.jpg" alt=""></figure>
        </div>
        <div class="d-none d-md-block d-lg-none">
          <figure style="display: flex; justify-content: center; margin-top: 30px;"><img class="rounded-circle" src="src/app/images/logo_tablet.jpg" alt=""></figure>
        </div>
        <p class="d-none d-lg-block">A few words about me.  I've finished the courses at Rolling Scopes School (EPAM) and Devincubator with a
          specialization in front-end development. I use technologies such as HTML5, CSS3, JavaScript,
          LESS and SASS preprocessors, Git version control system. I use Photoshop for working with mockups.
          I've got experience working with the following frameworks: Bootstrap, Phaser, React, Angular and express.
          When working with the server side of applications I use node.js, WebSockets.  There is experience with
          the MySQL database and various APIs. To build and optimize projects I use webpack.</p>
        <h5 class="d-block d-lg-none">A few words about me.  I've finished the courses at Rolling Scopes School (EPAM) and Devincubator with a
          specialization in front-end development. I use technologies such as HTML5, CSS3, JavaScript,
          LESS and SASS preprocessors, Git version control system. I use Photoshop for working with mockups.
          I've got experience working with the following frameworks: Bootstrap, Phaser, React, Angular and express.
          When working with the server side of applications I use node.js, WebSockets.  There is experience with
          the MySQL database and various APIs. To build and optimize projects I use webpack.</h5>
      </article>
    </div>
  </div>
</header>
