<main>
  <section>
    <h1>My works</h1>
    <div class="container" *ngFor="let slide of data let e=even; let o=odd;">
      <div class='row my-works-right'>
        <article class="col-lg-6 description">
          <div>
            <h3>{{slide.name}} {{e}} {{o}}</h3>
            <a href="{{slide.link}}" target="_blank">{{slide.click}}</a>
          </div>
          <p>{{slide.description}}</p>
        </article>
        <ngb-carousel *ngIf="data">
          <ng-template ngbSlide>
            <img src="{{slide.images[0]}}" alt="Random first slide">
          </ng-template>
          <ng-template ngbSlide>
            <img src="{{slide.images[1]}}" alt="Random second slide">
          </ng-template>
          <ng-template ngbSlide>
            <img src="{{slide.images[2]}}" alt="Random third slide">
          </ng-template>
          <ng-template ngbSlide>
            <img src="{{slide.images[3]}}" alt="Random fourth slide">
          </ng-template>
          <ng-template ngbSlide>
            <img src="{{slide.images[4]}}" alt="Random fifth slide">
          </ng-template>
        </ngb-carousel>
      </div>
    </div>

    <!-- <div class="row my-works" *ngFor="let i of images"> -->

  </section>
</main>
